{% extends "base.html" %}
{% block content %}
<!-- Background -->
<div class="absolute inset-0">
    <img src="{{ url_for('static', filename='img/bg-login.jpg') }}" class="w-full min-h-screen object-cover"
        alt="background">
    <!-- Overlay -->
    <div class="absolute inset-0 bg-black/40 backdrop-blur-md"></div>
</div>
<!-- Content container -->
<div class=" relative text-center px-150 py-20">
    <h1 class="text-3xl text-white font-bold mb-4">Chào mừng đến với Hệ thống Quản lý Ký túc xá</h1>
    <p class="text-white mb-6">
        Hãy đăng ký hoặc đăng nhập để sử dụng các dịch vụ như đăng ký phòng, thanh toán tiền phòng, điện, nước và nhiều
        hơn nữa.
    </p>
    <a href="/auth/register" class="bg-green-600 text-white px-4 py-2 rounded mr-2">Đăng ký</a>
    <a href="/auth/login" class="bg-blue-600 text-white px-4 py-2 rounded">Đăng nhập</a>
</div>
{% endblock %}